.storeDiv {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  .infoDiv {
    flex: 1;
    padding-left: 10px;
  }

  .supInfo {
    margin: 0;
    color: white;
    font-size: 15px;
    font-weight: 200;
  }

  .mainInfo {
    margin: 0;
    color: white;
    font-size: 25px;
    font-weight: 200;
  }
}

.storeImage {
  width: 55px;
  height: 55px;
  padding: 0 15px 5px 15px;
}
